@main("Home") {

    <div class="jumbotron top-header">
        <h1>Commlogs</h1>
        <p>Starlogs for hackathons.</p><br/>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h1>Live</h1>
            <p>Watch the commits, in a simple style.</p>
            <a href="/log"><button class="btn btn-danger">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </button></a>
        </div>
        <div class="col-md-4">
            <h1>Starlog</h1>
            <p>Watch commits in style, in the form of Starlogs.</p>
            <a href="/starlogs"><button class="btn btn-danger">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            </button></a>
        </div>
        <div class="col-md-4">
            <h1>Configure</h1>
            <p>List, add and remove repositories from the socket and configure Yo integration.</p>
            <a href="/config"><button class="btn btn-danger">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </button></a>
        </div>
    </div>

}
